body {
    margin: 0;
    background: #1F2937;
    font-family: 'Inter', sans-serif;
}

header {
    text-align: center;
    padding: 1rem;
    background: #6943FF;
    color: #FFFFFF;
}

h1 {
    font-size: 1.75rem;
}

input {
    display: block;
    margin: auto;
    background: transparent;
    border: 0.125rem solid #B295FF;
    font-size: 3.625rem;
    font-weight: 800;
    width: 30%;
    color: #FFFFFF;
    text-align: center;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

#convert-btn {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    margin-top: 1rem;
    font-weight: 500;
}

.unit-div {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    background: #273549;
    padding: 1rem;
    border-radius: 0.25rem;
}

#length-div {
    margin-top: 2rem;
}

#mass-div {
    margin-bottom: 2rem;
}

h3 {
    color: #CCC1FF;
    font-size: 1.5rem;
    font-weight: 600;
}

.measure-paragraph {
    color: #FFFFFF;
    font-size: 0.875rem;
}